@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.user-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 100vh;
  background-color: #181C2D;
  color: #FFF;
}

.user-side__link {
  text-decoration: none;
}

.user-side h1 {
  font-family: 'Georgia';
  color: #FFF;
  font-size: 18px;
  padding-right: 6rem;
  margin-top: 1.5rem;
}

.user-side__photo {
  width: 100px;
  height: 100px;
  -o-object-position: 50 100%;
     object-position: 50 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 18px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 18px 5px rgba(0, 0, 0, 0.15);
  margin-top: 3rem;
}

.user-side__title {
  margin-top: 1.5rem;
  font-size: 14px;
}

.user-side__paths {
  list-style-type: none;
  font-size: 20px;
  line-height: 2rem;
}

.user-side__paths .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
}

.user-side__paths .nav img {
  padding-right: 1rem;
  cursor: pointer;
}

.user-side__paths .nav li {
  cursor: pointer;
}

.user-side__paths .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #FFF;
}

.user-side ul {
  margin-top: 2.5rem;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  width: 85vw;
  height: 4.5rem;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  text-decoration: none;
}

.main .header h3 {
  font-family: 'Georgia';
  color: #272727;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}

.main .header h3:hover {
  font-weight: bold;
}

.main .header img {
  width: 17px;
}

.main .header__gear {
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .header__gear img {
  width: 25px;
  cursor: pointer;
}

.main .header__gear img:hover {
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .profile {
  margin: 0 2rem;
}

.main .container .profile h1 {
  padding-top: 1rem;
  font-family: 'Open Sans';
  font-weight: normal;
}

.main .container .profile .form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .container .profile .form1 h2 {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18px;
}

.main .container .profile .form1 button {
  border-radius: 3px;
  background-color: #C24B0C;
  font-size: 16px;
  border: none;
  color: #FFF;
  cursor: pointer;
  margin-top: 2rem;
  width: 95%;
  height: 2.5rem;
}

.main .container .profile .form1 .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .profile .form1 .first label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans';
  margin-top: 1rem;
  font-size: 14px;
  margin-right: 2rem;
}

.main .container .profile .form1 .first label input {
  height: 2rem;
  margin-top: 0.5rem;
  font-size: 14px;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  background-color: #FFF;
  padding-left: 14px;
  outline: none;
  width: 100%;
}

.main .container .profile .form1 .first label select {
  outline: none;
  height: 2.4rem;
  margin-top: 0.5rem;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  background-color: #FFF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  background: url(../../assets/Dropdown.svg) no-repeat;
  color: #272727;
  background-size: 10px;
  background-position: 97%;
  padding-left: 1rem;
  padding-right: 1.5rem;
  width: 100%;
}

.main .container .profile .form1 .second label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans';
  margin-top: 1rem;
  font-size: 14px;
  width: 97%;
}

.main .container .profile .form1 .second label input {
  height: 2rem;
  margin-top: 0.5rem;
  font-size: 14px;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  background-color: #FFF;
  padding-left: 14px;
  outline: none;
}

.main .container .wants h1 {
  padding-top: 1rem;
  font-family: 'Open Sans';
  font-weight: normal;
}

.main .container .wants .form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .container .wants .form2 h2 {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18px;
}

.main .container .wants .form2 .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .wants .form2 .first label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans';
  margin-top: 1rem;
  font-size: 14px;
  margin-right: 2rem;
}

.main .container .wants .form2 .first label select {
  outline: none;
  height: 2.4rem;
  margin-top: 0.5rem;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  background-color: #FFF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  background: url(../../assets/Dropdown.svg) no-repeat;
  color: #272727;
  background-size: 10px;
  background-position: 97%;
  padding-left: 1rem;
  padding-right: 1.5rem;
  width: 100%;
}

.main .container .wants .form2 button {
  border-radius: 3px;
  background-color: #C24B0C;
  font-size: 16px;
  border: none;
  color: #FFF;
  cursor: pointer;
  width: 50%;
  height: 2.5rem;
  margin-top: 1rem;
}

.main .container .orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans';
  font-size: 12px;
  margin-top: 3rem;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.main .container .orders table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
  background-color: #F6F6F6;
}

.main .container .orders table thead {
  font-size: 14px;
  font-weight: normal;
  color: #484848;
  margin-left: 1rem;
}

.main .container .orders table thead tr {
  text-align: left;
  height: 70px;
}

.main .container .orders table tbody {
  font-size: 12px;
}

.main .container .orders table tbody tr {
  height: 70px;
  font-weight: 600;
}

.main .container .orders table tbody tr td {
  margin: 0;
}

.main .container .orders table tbody tr td .td-name {
  color: #C24B0C;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.main .container .orders table tbody tr:nth-child(odd) {
  background-color: white;
}

.td-left {
  padding-left: 35px;
}

.orders__delete-icon {
  background-image: url("../../assets/deleteIcon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.orders__delete-icon:hover {
  background-image: url("../../assets/deleteIcon-hover.svg");
}
/*# sourceMappingURL=profile.css.map */