.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .profile {
  margin: 0 3rem;
  width: 35%;
}

.main .container .profile h1 {
  padding-top: 1rem;
  font-family: 'Open Sans';
  font-weight: normal;
}

.main .container .profile .form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.main .container .profile .form1 h2 {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18px;
}

.main .container .profile .form1 button {
  border-radius: 3px;
  background-color: #C24B0C;
  font-size: 16px;
  border: none;
  color: #FFF;
  cursor: pointer;
  margin-top: 2rem;
  width: 60%;
  height: 2.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .container .profile .form1 button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .container .profile .form1 .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .profile .form1 .first label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans';
  margin-top: 1rem;
  font-size: 14px;
  margin-right: 1rem;
}

.main .container .profile .form1 .first label input {
  height: 2rem;
  margin-top: 0.5rem;
  font-size: 14px;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  background-color: #FFF;
  padding-left: 14px;
  outline: none;
  width: 14rem;
}

.main .container .profile .form1 .first label select {
  outline: none;
  height: 2.4rem;
  margin-top: 0.5rem;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  background-color: #FFF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  background: url(../../assets/Dropdown.svg) no-repeat;
  color: #272727;
  background-size: 10px;
  background-position: 97%;
  padding-left: 1rem;
  padding-right: 1.5rem;
  width: 15rem;
}

.main .container .profile .form1 .second label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans';
  margin-top: 1rem;
  font-size: 14px;
}

.main .container .profile .form1 .second label input {
  height: 2rem;
  margin-top: 0.5rem;
  font-size: 14px;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  background-color: #FFF;
  padding-left: 14px;
  outline: none;
  width: 30rem;
}

.main .container .wants {
  margin-left: 3rem;
}

.main .container .wants h1 {
  padding-top: 1rem;
  font-family: 'Open Sans';
  font-weight: normal;
}

.main .container .wants .form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .container .wants .form2 h2 {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18px;
}

.main .container .wants .form2 .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .wants .form2 .first label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans';
  margin-top: 1rem;
  font-size: 14px;
  margin-right: 3rem;
}

.main .container .wants .form2 .first label select {
  outline: none;
  height: 2.4rem;
  margin-top: 0.5rem;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  background-color: #FFF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  background: url(../../assets/Dropdown.svg) no-repeat;
  color: #272727;
  background-size: 10px;
  background-position: 97%;
  padding-left: 1rem;
  padding-right: 1.5rem;
  width: 100%;
}

.main .container .wants .form2 button {
  border-radius: 3px;
  background-color: #C24B0C;
  font-size: 16px;
  border: none;
  color: #FFF;
  cursor: pointer;
  width: 50%;
  height: 2.5rem;
  margin-top: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .container .wants .form2 button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .container .orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans';
  font-size: 12px;
  margin: 3rem 0 1.8rem 0;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.main .container .orders table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
  background-color: #F6F6F6;
}

.main .container .orders table thead {
  font-size: 16px;
  font-weight: normal;
  color: #272727;
}

.main .container .orders table thead tr {
  display: block;
  text-align: left;
  height: 70px;
}

.main .container .orders table thead tr .one {
  padding-right: 3.2rem;
  padding-left: 1rem;
}

.main .container .orders table thead tr .two {
  padding-right: 2rem;
}

.main .container .orders table thead tr .three {
  padding-right: 6rem;
}

.main .container .orders table thead tr th {
  padding-top: 1.5rem;
}

.main .container .orders table tbody {
  font-size: 14px;
  color: #484848;
  display: block;
  width: 100%;
  height: 35vh;
  overflow: auto;
}

.main .container .orders table tbody tr {
  height: 70px;
  font-weight: 600;
}

.main .container .orders table tbody tr td {
  padding-left: 1rem;
  padding-right: 2rem;
  margin: 0;
}

.main .container .orders table tbody tr td .td-name {
  color: #C24B0C;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.main .container .orders table tbody tr:nth-child(odd) {
  background-color: white;
}

.orders__delete-icon {
  background-image: url("../../assets/deleteIcon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.orders__delete-icon:hover {
  background-image: url("../../assets/deleteIcon-hover.svg");
}
/*# sourceMappingURL=profile.css.map */