$primary: #181C2D;
$secondPrimary: #A9C4B2;
$accent: #C24B0C;
$secondAccent: #FBF9F4;

$rare: #FFF;
$mediumRare: #F6F6F6;
$mediumWell: #C4CDD5;
$well: #484848;
$burnt: #272727;

@mixin userIcon {
    width: 100px;
    height: 100px;
    object-position: 50 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 3px 3px 18px 5px rgba(0, 0, 0, 0.15);
}

@mixin input {
    height: 2rem;
    margin-top: 0.5rem;
    font-size: 14px;
    border: 1px solid $mediumWell;
    border-radius: 3px;
    background-color: $rare;
    padding-left: 14px;
    outline: none;
}

@mixin select {
    outline: none;
    height: 2.4rem;
    margin-top: 0.5rem;
    border: 1px solid $mediumWell;
    border-radius: 3px;
    background-color: $rare;
    appearance: none;
    font-size: 14px;
}

@mixin label {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    margin-top: 1rem;
    font-size: 14px;
}

@mixin btn {
    border-radius: 3px;
    background-color: $accent;
    font-size: 16px;
    border: none;
    color: $rare;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    .container {
        display: flex;
        .profile {
            margin: 0 4rem;
            h1 {
                padding-top: 1rem;
                font-family: 'Open Sans';
                font-weight: normal;
            }
            .form1 {
                display: flex;
                flex-direction: column;
                width: 100%;
                h2 {
                    font-family: 'Open Sans';
                    font-weight: normal;
                    font-size: 18px;
                }
                button {
                    @include btn();
                    margin-top: 2rem;
                    width: 95%;
                    height: 2.5rem;
                }
                .first {
                    display: flex;
                    label {
                        @include label();
                        margin-right: 2rem;
                        input {
                            @include input();
                            width: 100%;
                        }
                        select {
                            @include select();
                            background: url(../../assets/Dropdown.svg) no-repeat;
                            color: $burnt;
                            background-size: 10px;
                            background-position: 97%;
                            padding-left: 1rem;
                            padding-right: 1.5rem;
                            width: 100%;
                        }
                    }
                }
                .second {
                    label {
                        @include label();
                        width: 97%;
                        input {
                            @include input();
                        }
                    }
                }
            }
        }
        .wants {
            h1 {
                padding-top: 1rem;
                font-family: 'Open Sans';
                font-weight: normal;
            }
            .form2 {
                display: flex;
                flex-direction: column;
                width: 100%;
                h2 {
                    font-family: 'Open Sans';
                    font-weight: normal;
                    font-size: 18px;
                }
                .first {
                    display: flex;
                    label {
                        @include label();
                        margin-right: 2rem;
                        select {
                            @include select();
                            background: url(../../assets/Dropdown.svg) no-repeat;
                            color: $burnt;
                            background-size: 10px;
                            background-position: 97%;
                            padding-left: 1rem;
                            padding-right: 1.5rem;
                            width: 100%;
                        }
                    }
                }
                button {
                    @include btn();
                    width: 50%;
                    height: 2.5rem;
                    margin-top: 1rem;
                }
            }
        }
        .orders {
            display: flex;
            justify-content: center;
            font-family: 'Open Sans';
            font-size: 12px;
            margin-top: 3rem;
            box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15);
            table {
                width: 100%;
                border-collapse: collapse;
                border-radius: 3px;
                background-color: $mediumRare;
                thead {
                        font-size: 14px;
                        font-weight: normal;
                        color: $well;
                        margin-left: 1rem;
                        tr {
                            text-align: left;
                            height: 70px;

                        }
                    }
                    tbody {
                        font-size: 12px;
                        tr {
                            height: 70px;
                            font-weight: 600;
                            td {
                                margin: 0;
                                .td-name {
                                    color: $accent;
                                    display: block;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                        }
                    tr:nth-child(odd) {
                        background-color: white;
                    }
                }
            }
        }
    }
}

.td-left{
    padding-left: 35px;
}
.orders__delete-icon{
    background-image: url('../../assets/deleteIcon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    cursor: pointer;
    &:hover {
        background-image: url('../../assets/deleteIcon-hover.svg');
    }
}
