$primary: #363c42;
$secondPrimary: #A9C4B2;
$accent: #C24B0C;
$secondAccent: #FBF9F4;

$rare: #FFF;
$mediumRare:#D3D3D3;
$mediumWell: #808080;
$well: #484848;
$burnt: #272727;

.invoice {
    margin-left: 2rem;
    h1 {
        font-family: "Open Sans";
        font-weight: normal;
    }
}